* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cabrito Contrast;
    src: url('../fonts/cabrito-contrast-bold.ttf') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter_18pt-SemiBold.ttf') format('woff2');
    font-display: swap;
}

